*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header {
  background: /*#1a8ebc*/ linear-gradient(to right, rgba(0, 0, 0, 0.48), rgba(2, 2, 2, 0.52)),  url(Images/background.jpg);
}
body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.48), rgba(2, 2, 2, 0.52)),  url(Images/background.jpg);
  overflow-x: hidden;
}
.navbar{
    padding-top: 2%;
    padding-left: 1.75%;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8vw; 
    padding: 10px;
   border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
}
.navbar a:hover{
    background-color: #5090e2;
    
    border: 2px solid black;
    color: black;
}
.navbar input:hover{
    border: 2px solid black;
}
.navbar li{
    display: inline;
    margin-right: 2%;
}
#search-bar{
    /*position: relative;*/
    width: 20vw;
    height: 2vw;
    /*left: 80px;*/
    /*bottom: 10px;*/
}
.icon2{
    margin-top: 2%;
    font-size: 600%;
    color: #a6ccff;
    margin-right: 1%;
}
.icons{
    text-align: center;
}
.icon{
    font-size: 900%;
    color: #a6ccff;
    margin-right: 2%;
}
::placeholder{
    color: black;
}
header{
    /*background:linear-gradient(to right, rgb(26, 142, 188), rgb(26, 142, 188));*/
    background-attachment: fixed;
    background-size: cover;
}
header h1{
    font-size: 400%;
    text-align: center;
    padding-top: 0.7%;
    height: 100px;
    color: rgba(0, 0, 0, 0.719);
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  color: #ffffff;
  padding: 30px 25px;
  width: 100%;
  /*background: #1a8ebc;*/
  text-align: center;
  padding-bottom: 6%;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul button li {
  color: white;
  font-size: 400%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  height: 70px;
  width: 70px;
  font-size: 50px;
}

.month .next {
  float: right;
  height: 70px;
  width: 70px;
  font-size: 50px;
}

.weekdays {
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 0;
  background-color:rgb(255, 188, 112);
  box-shadow: 0 7px 13px rgba(0,0,0,0.33), 0 5px 5px rgba(0,0,0,0.33);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(181, 16, 231);
  text-align: center;
  font-size: 30px;
}

.days {
  padding: 10px 0;
  background: rgb(235, 201, 210);
  margin: 0% 2% 2% 2%;
  box-shadow: 0 7px 13px rgba(0,0,0,0.33), 0 5px 5px rgba(0,0,0,0.23);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  margin-bottom: 5px;
  font-size:25px;
  color: rgb(163, 86, 187);
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  position: relative;
  left: 3%;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
.extra{
    width: 1650px;
    height: 20px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 20%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
footer p{
  padding: 0.6% 0% 0.6% 1%;
  background-color: #8aaede;
  color: white;
  margin-top: 5%;
  font-size: 1.5vw;
}
@media only screen and (max-width: 600px) {
  footer p {
      margin-top: 40%;
  }
}
@media only screen and (max-width: 500px) {
  footer p {
      margin-top: 60%;
  }
}
@media only screen and (max-width: 400px) {
  footer p {
      margin-top: 100%;
  }
}
@media only screen and (max-width: 300px) {
  footer p {
      margin-top: 140%;
  }
}
@media only screen and (max-width: 200px) {
  footer p {
      margin-top: 200%;
  }
}